h1 Atributos en Linea

a(class='button', href='google.com', target='_blank') Google
br
br
a(class='button' href='google.com' target='_blank') Google
br
br

h1 Atributos en Multi Linea
input(
    type='checkbox'
    name='agreement'
    checked
)

h1 Atributos Booleanos
input(type='checkbox' checked)
input(type='checkbox' checked=true)
input(type='checkbox' checked=false)

h1 Estilos en los Atributos
a(style={color:'white', background: 'crimson'})
    var clases=['yellow','blue','red']
a(class=clases)

h1 Clases Literal
a.button
.link
button.large.red.center

h1 Identificador Literal
a#link1



